.col-sm-12 {
	background-color:#cfd8e8;
}
.col-sm-4 {
	background-color:lavender;
}
.col-sm-8 {
	background-color:lavenderblush;
}
table {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}
th, td, tr{
	border: 1px solid black;
}
#hist-trans {
	overflow-x:auto;
}
